@import url(reset.css);

/* ============= My Styles ============= */

/* ========= Mods ========== */

body {
	background-color: #EFEFEF;
}

.sub-title {
	font-size: 95px;
    color: #FFFFFF;
	text-align: center;
    font-family: 'Merriweather', serif;
}

.main-block {
	width: 100%;
	margin: 0 auto;
}

.pri-btn {
    display: inline-block;
    background-color: #EFEFEF;
	padding: 1rem;
    border-radius: .5rem;
	color: #3F4B6F;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
    font-family: Merriweather, sans-serif;
}

.pri-btn:hover {
    background-color: #ffffff;
}

.pri-btn:active {
    background-color: #c3c2c2;
}

.fa-solid, .fa-regular {
	color: #3F4B6F;
	font-size: 20px;
}

.img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

a {
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 768px;    
}

.grid {
    display: grid;
    gap: 1.5rem;
}


/* ========= Navbar ========== */

.nav_logo img {
    padding: 10px 0 0 10px;
    width: 40%;
    height: auto;
    cursor: pointer;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #FEFEFC;
}

.nav {
    max-width: 968px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_toggle i {
    padding:10px;
    color: #3D3D3D;
    cursor: pointer;
}

.nav_close {    
    cursor: pointer;
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    color: #3D3D3D;
}

.nav_link {
    font-family: Manrope, serif;
    font-size: 16px;
    color: #3F4B6F;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_item i {
    padding: 5px;
}


@media screen and (max-width: 767px) {
    .nav_menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        background-color: #FEFEFC;
        padding: 2rem 0;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        border-radius: 0 0 1.5rem 1.5rem;
        transition: .3s;
    }
}

.nav_list {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

/* show menu */
.show-menu {
    top: 0;
}

/* ========= Home page ========== */
.home_section {
    width: 100%;
    height: 750px;
    background-color: #3F4B6F;
}

.home_container {
    background-image: url('../img/celine4.png');    
    height: 448px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.portrait img {
    margin-top: 1000px;
    width: 200%;    
}

.home_title {
    margin-top: 110px;
}

.home_title h1 {
    font-size: 65px;
    font-family: Poppins, sans-serif;
    color: #EFEFEF;
    font-weight: 400;
}

.chiou {
    padding-left: 50px;
    padding-top: 10px;
}

.home_content {
    font-size: 14px;
    color: #EFEFEF;
    font-family: Poppins, sans-serif;
    line-height: 2; 
}

.home_btn {
    padding-top: 20px;
}

/* ========= Project page ========== */
.project_section {
    width: 100%;
    height: 750px;
}

.project_line h2 {
    font-family: Poppins, sans-serif;
    color: #212427;
    font-size: 30px;
    padding-top: 80px;
}

.project_title {
    display: flex;
    justify-content: center;
}

.pdf a {
    color: #3F4B6F;
    font-family: Manrope, sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.pdf i {
    color: #3F4B6F;
    font-size: 14px;
    padding-right: 10px;
}

.project_box h3 {
    color: #212427;
    font-family: Poppins, sans-serif;
    font-size: 16px;
}

.project_box {
    border-bottom: 2px solid #3F4B6F;
    width: 90%;
    padding-top: 50px;
}

.project_content {
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
}

.pdf {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}


/* ========= Education page ========== */
.education_section {
    width: 100%;
    height: 750px;
}

.education_title {
    font-family: Poppins, sans-serif;
    color: #212427;
    font-size: 30px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.edu_content_1, .edu_content_2 {
    color: #3F4B6F;
    font-family: Manrope, sans-serif;
    font-size: 12px;
}

.edu_content_1 i, .edu_content_2 i {
    font-size: 12px;
    color: #3F4B6F;
    padding-right: 10px;
    padding-top: 10px;
}

.edu_content_1 h3, .edu_content_2 h3 {
    color: #212427;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}

.edu_img_1 img, .edu_img_2 img {
    width: 100%;
    height: 190px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.education_container {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 90px;
    padding-bottom: 100px;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.edu_box_2 {
    display: flex;
    flex-direction: column-reverse;
}

.edu_box_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* ========= Working Experience page ========== */
.timeline_title {
    font-family: Poppins, sans-serif;
    color: #212427;
    font-size: 30px;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    font-weight: 500;
}

.timeline_section {
	width: 100%;
    height: 750px;
}

.timeline_container {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 90px;
}

.timeline-items {
	max-width: 1000px;   
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.timeline-items::before {
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #3F4B6F;
	left: calc(50% - 1px);
}

.timeline-item {
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}

.timeline-item:last-child {
	margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
	text-align: right;
}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}

.timeline-dot {
	height: 16px;
	width: 16px;
	background-color: #3F4B6F;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}

.timeline-content {
    font-size: 14px;
    color: #3F4B6F;
    font-family: Manrope, sans-serif;
    padding-top: 10px;
}

.timeline-content i {
    font-size: 14px;
    color: #3F4B6F;
    padding-right: 10px;
    padding-top: 10px;
}

.timeline-content h3 {
    font-size: 20px;
	color: #212427;
	text-transform: capitalize;
    font-family: Poppins, sans-serif;
}

.timeline-content p {
    color: #3D3D3D;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
    font-family: Poppins, sans-serif;
}

@media(max-width: 767px) {
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
}

/* ========= Partical Experience page ========== */
.chart_section {
	width: 100%;
    height: 750px;
}

.chart_container {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 90px;
}

.chart_title {
    font-family: Poppins, sans-serif;
    color: #212427;
    font-size: 30px;
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

.chart_subtitle {
    font-size: 20px;
	color: #212427;
	text-transform: capitalize;
    font-family: Poppins, sans-serif;
}

.chart_subtitle i {
    color: #3F4B6F;    
}

.chart_btn {
    display: inline-block;
    padding-top: 1rem;
    border-radius: .5rem;
	color: #3F4B6F;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
    font-family: Manrope, sans-serif;
    cursor: pointer;
}

.chart_btn:hover .fa-long-arrow-right {
    transform: translateX(.25rem);
    transition: .3s;
}

.chart_btn {
    color: #3F4B6F;
    font-family: Manrope, sans-serif;
    font-size: 15px;
}

.chart_btn i {
    padding-left: .25rem;
    padding-top: 10px;
}

.chart_modal-title {
    font-size: 18px;
	color: #212427;
	text-transform: capitalize;
    font-family: Poppins, sans-serif;
    padding-bottom: 30px;
}

.fa-xmark {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 25px;
    cursor: pointer;
}

.chart_modal-chart i {
    padding-top: 5px;
    padding-right: 5px;
    font-size: 5px;
    color: #3F4B6F;
}

.chart_modal-chart p {
    color: #3D3D3D;
	font-size: 11px;
	font-weight: 300;
	line-height: 1.5;
    font-family: Poppins, sans-serif;
}

.chart_container {
    gap: 1.5rem;
    grid-template-columns: 1fr;
}

.chart_content {
    position: relative;
    background-color: #EFEFEF;
    padding: 25px;
    border-radius: .25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
    transition: .3s;
}

.chart_content:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
}

.chart_subtitle i {
    display: block;
    font-size: 1.5rem;
    color: #3F4B6F;
    margin-bottom: 20px;
}

.chart_modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.chart_modal-content {
    position: relative;
    background-color: #EFEFEF;
    padding: 50px;
    border-radius: .5rem;
}

.chart_modal-chart li {
    row-gap: .5rem;
    display: flex;
    flex-direction: row;
}

/*  Active Modal  */
.active-modal {
    opacity: 1;
    visibility: visible;
}

/* ========= Skills page ========== */
.skills_section {
	width: 100%;
    height: 750px;
}

.skills_container {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 90px;
    margin-bottom: 50px;
}

.section_title {
    font-family: Poppins, sans-serif;
    color: #212427;
    font-size: 30px;
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

.skills_subtitle {
    font-size: 20px;
	color: #212427;
	text-transform: capitalize;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    padding-left: 10px;
}

.skills_header i {
    color: #3F4B6F;
    font-size: 20px;
}

.skills_icon {
    color: #3F4B6F;
    font-size: 20px;
    padding-bottom: 10px;
}

.skills_title p {
    text-transform:uppercase;
    font-family: Merriweather, sans-serif;
    font-size: 13px;
    padding-bottom: 10px;
    font-weight: bolder;
}

.skills_name {
    color: #212427;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.skills_container {
    row-gap: 0;
}

.skills_header {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    cursor: pointer;
}

.fa-angle-down {
    font-size: 20px;
    margin-left: auto;
    transition: .4s;
}

.skills_title {
    display: flex;
    flex-direction: column;
}

.skills_content {
    margin-bottom: 50px;
}

.skills_list {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 80px;
}

.skills_close .skills_list {
    height: 0;
    overflow: hidden;
}

.skills_open .skills_list {
    height: max-content;
}

.skills_open .fa-angle-down {
    transform: rotate(-180deg);
}

/* ========= Contact page ========== */
.contact_title {
    font-family: Poppins, sans-serif;
    color: #EFEFEF ;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 110px;
    padding-top: 70px;
    padding-bottom: 80px;
}

.contact_section {
	width: 100%;
    height: 350px;
    margin-top: 70px;
    background-color: #3F4B6F;
}

.contact_container {
    padding-left: 30px;
    padding-right: 30px;
}

.contact_container a {
    color: #FEFEFC;
	font-size: 11px;
	font-weight: 300;
	line-height: 1.5;
    font-family: Poppins, sans-serif;
}

.contact_container p {
    color: #FEFEFC;
	font-size: 11px;
	font-weight: 300;
	line-height: 1.5;
    font-family: Poppins, sans-serif;
}

.contact_container i {
    color: #FEFEFC;
	font-size: 16px;
    padding-right: 10px;
}

.contact_content {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
}


/* ========= Footer ========== */
.footer {
    padding-top: 2rem;
    width: 100%;
    height: 100px;
}

.footer_container {
    padding-left: 30px;
    padding-right: 30px;
}

.footer_bg {
    background-color: #EFEFEF;
}

.footer_container img {
    width: 30%;
    height: auto;
}

.footer_container a {
    color: #3D3D3D;
	font-size: 12px;
    font-family: Poppins, sans-serif;
}

.footer_copy {
    color: #B6B4B4;
    font-size: 14px;
    padding-right: 10px;
    text-align: center;
    margin-top: 40px;
}

.footer_list {
    display: flex;
    justify-content: flex-start;
    padding-top: 8px;
    padding-bottom: 8px;
}
